* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 10fr 10fr 10fr;
  grid-template-rows: 0fr 0fr 0fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer";
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.header {
  grid-area: header;
}

body {
  font-family: "Bebas Neue", cursive;
}

header {
  width: 100%;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.link {
  position: absolute;
  padding: 0px 10px;
}

.header-container img {
  height: 50px;
}

#menu-bar {
  display: none;
}

header label {
  float: right;
  font-size: 28px;
  margin: 6px 0;
  cursor: pointer;
}

header .container {
  display: table;
}

section {
  width: 100%;
  margin-bottom: 25px;
}

.menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000a1;
  transition: all 0.5s;
  transform: translateX(-100%);
}

.menu a {
  display: block;
  color: #ffffff;
  height: 50px;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menu a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#menu-bar:checked ~ .menu {
  transform: translateX(0%);
}

@media (min-width: 1024px) {
  .menu {
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0%);
    float: right;
    display: flex;
  }

  .menu a {
    border: none;
  }

  header label {
    display: none;
  }
}

section #banner {
  width: 100%;
  margin-bottom: 25px;
}

#banner {
  margin-top: 50px;
  position: relative;
}

#banner img {
  width: 100%;
  height: 450px;
  animation: fadeIn;
  animation-duration: 3s;
  object-fit: cover;
}

#banner .banner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #ffffff;
}

#banner h2 {
  font-size: 28px;
  text-align: center;
}

#banner p {
  text-align: center;
}

#banner a {
  display: block;
  text-align: center;
  width: 100px;
  color: #ffffff;
  text-decoration: none;
  padding: 7px;
  margin-left: 40px;
  margin-top: 10px;
  border: 3px solid #ffffff;
}

#banner a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#destacados h2,
h3 {
  text-align: center;
}

#productos-destacados .destacados-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#productos-destacados .destacados-container a {
  color: #000000;
}

#productos-destacados article {
  margin: 15px;
}

#productos-destacados img {
  width: 100%;
  max-width: 280px;
  height: 190px;
  transition: height 0.5s;
}

#productos-destacados img:hover {
  height: 200px;
}

#brands {
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  padding: 20px;
}

#brands .brand-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.brand-logo {
  margin: 20px;
}

.brand-logo img {
  width: 80px;
  height: 70px;
  border: 2px solid #ffffff;
}

footer .redes-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #000000;
  padding-bottom: 25px;
}

.redes {
  width: 100%;
  text-align: center;
  font-size: 15px;
}

.redes a {
  color: #ffffff;
  text-decoration: none;
}

/*CONTACTO*/

.form-container {
  text-align: center;
}

.formulario {
  width: 340px;
  height: 440px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 8px;
  margin: 25vh auto;
  padding: 20px 30px;
  max-width: 55vh;
  position: relative;
}

.formulario h2 {
  margin-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}

.formulario input {
  color: #ffffff;
  width: 100%;
  padding: 10px;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all 0.2s;
  border-bottom: 2px solid #8f8f8f;
}

.formulario input:focus {
  border-bottom: 2px solid #009bd8;
}

.formulario p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #ebe8e8;
}

.formulario button {
  float: center;
  margin-top: 50px;
  border: #ffffff 2px solid;
  background: 0;

  cursor: pointer;
  transition: all 0.2s;
  width: 50px;

  background-color: #ffffff;
  color: #000000;
}

.formulario button:hover {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
